/*
Разбиваем наш файл style.css на файлы .scss, разделяя стили по папочкам и по отдельным файлам и подключаем файлы через main.scss.
К примеру подключили файл _base.scss через import. Обязательно перед названием этих файлов добавляем _ (нижнее подчеркивание).
Желательно делать импорты в алфавитном порядке подключаемых файлов (это можно сделать в конце или оставить как есть)
Шрифты, пременные и базовые стили всегда должны быть подключенные в начале для лучшей загрузки.
*/

@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/texts';
@import './utils/utils';
@import './utils/mixin';

@import './components/buttons';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/format-card';
@import './components/input';
@import './components/links';

@import './layout/advantages-section';
@import './layout/chef-section';
@import './layout/contact-section';
@import './layout/container';
@import './layout/footer';
@import './layout/form-terms';
@import './layout/format-section';
@import './layout/header';
@import './layout/hero-section';
@import './layout/mobile-menu';
@import './layout/modal';
@import './layout/section';
@import './layout/traditions-section';


/* 
Минификация кода css
Что бы наш сайт быстрее загружался необходимо сжать все строчки файла scc в одну строку.
 Для этого нужно в Live Sass Compiled во вкладку Settings, Settings: Formats, выбрать Edit Settings.json
 В этом файле в строке изменить значения в следующих строчках: 
    "format": "compressed",
    "extensionName": ".min.css", в файле добавится префикс .min Разработчикам будет понятно что в этом файле минификованные стили
    "savePath": "/css/" * //Путь к дериктории, где будет формироваться скомпелированный файл .css*
*/



/* Form */
.form-field {
    margin-bottom: 32px;
}

.form-label {
    display: block;
}



.form-button {
    display: block;
    margin: 0 auto;
    margin: 0 auto 24px;
}

.form-terms {
    margin: 0 auto;
    max-width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-term-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}

/* .checkbox {
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: var(--color-brand-dark);
}

.checkbox-label {
    padding-left: 24px;
}

.checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-brand-dark);
    border-radius: 3px;
    content: '';
} */