/*Специальный контейнер с css переменной, переменную которой можно использовать в коде css.
Например мы можем указать один цвет который будет использоватся с одного места везде в проекте,
и если мы захочем поменять его, то он поменяется везде где была введена эта переменная.
задается через :root
*/
:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-normal: #819857;
    --color-brand-dark: #465929;
    --color-brand-light: #CFCFBC;
    --color-secondary-dark: #A18268;
}