.container {
    /*указали ширину контейнера 100 процентов но не шире самого макета, который составляет 1240 пикселей.
    Также указали автоматический отступ по краям, а вертикальный отступ 0 пикселей*/
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}