/*contact section+*/
.contact-section {
    padding-bottom: 0;

    @media screen and (min-width: $bp-tablet) {
        padding-bottom: 96px;
    }

    &__container {
        display: flex;
        flex-direction: column; //это свойство отображает елементы в столбец
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row; // а от планшета будет отображатся в ряд
            gap: 32px;
        }
    }

    &__title {
        margin-bottom: 8px;
        text-align: center;
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 16px;
            text-align: left;
        }

    }

    &__form-field {
        margin-bottom: 24px;
    }

    &__button {
        display: block;
        margin: 0 auto 16px;
    }

    &__map {
        flex-shrink: 0;
        height: 176px;
        margin: 0 -24px; //указали отрицательный margin, что-юы карта вышла за пределы контейнера
        border-radius: 16px;
        border: none;

        @media screen and (min-width: $bp-tablet) {
            margin: auto;
            width: 320px;
            height: 500px;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 600px;
            height: 595px;
        }
    }
}




